.List {
    background: linear-gradient(
        50deg, 
        
    );
    padding: 40px;
    color: black;
    text-align: center;
}

img {
    height: 60px;
    padding-left: 1120px;
    
}

body {
     background: linear-gradient(
        50deg, 
        yellow,
        lightgreen
    );
    color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.info {
    padding-top: 377px;
}

.Infektionsschutz{

    
    padding-left: 20px;
    padding-top: 50px;
}

.Testung{

    padding-left: 20px;
    padding-top: 50px;
    
}

.Formular
    {

        padding-left: 20px;
        padding-top: 50px;

    }

.Elternschreiben {
    padding-left: 20px;
    padding-top: 50px;

}

.Infektionsbild{
    padding-left: 30px;
    height: 190px;
}

.FürPersonen{
    color: red;
}
