.List {
    background: linear-gradient(
        50deg, 
        
    );
    padding: 40px;
    color: white;
    text-align: center;
}

img {
    height: 60px;
    padding-left: 1420px;
    
}

body {
     background: linear-gradient(
        50deg, 
        yellow,
        lightgreen
    );
    color: white;

}

.info {
    padding-top: 377px;
}
